{
  "name": "{{app_name}}",
  "private": true,
  "workspaces": [],
  "scripts": {
    "start": "AGENTS=2 BOOTSTRAP_PORT=$(port) SIGNAL_PORT=$(port) npm run network",
    "network": "hc s clean && npm run build:happ && UI_PORT=8888 concurrently \"echo "Add ui start script here"\" \"npm run launch:happ\" \"holochain-playground\"",
    "test": "npm run build:zomes && hc app pack workdir --recursive && echo 'Add test script here'",
    "launch:happ": "concurrently \"hc run-local-services --bootstrap-port $BOOTSTRAP_PORT --signal-port $SIGNAL_PORT\" \"echo pass | RUST_LOG=warn hc launch --piped -n $AGENTS workdir/{{app_name}}.happ --ui-port $UI_PORT network --bootstrap http://127.0.0.1:\"$BOOTSTRAP_PORT\" webrtc ws://127.0.0.1:\"$SIGNAL_PORT\"\"",
  {{#if holo_enabled}}
    "start:holo": "AGENTS=2 npm run network:holo",
    "network:holo": "npm run build:happ && UI_PORT=8888 concurrently \"npm run launch:holo-dev-server\" \"holochain-playground ws://localhost:4444\" \"concurrently-repeat 'VITE_APP_CHAPERONE_URL=http://localhost:24274 VITE_APP_IS_HOLO=true echo "Add script ui start script here"' $AGENTS\"",
    "launch:holo-dev-server": "holo-dev-server workdir/{{app_name}}.happ",
  {{/if}}
    "package": "npm run build:happ && hc web-app pack workdir --recursive",
    "build:happ": "npm run build:zomes && hc app pack workdir --recursive",
    "build:zomes": "RUSTFLAGS='' CARGO_TARGET_DIR=target cargo build --release --target wasm32-unknown-unknown"
  },
  "devDependencies": {
    "@holochain-playground/cli": "^0.1.1",
    "concurrently": "^6.2.1",
    "rimraf": "^3.0.2",
  {{#if holo_enabled}}
    "concurrently-repeat": "^0.0.1",
  {{/if}}
    "new-port-cli": "^1.0.0"
  },
  "engines": {
    "npm": ">=7.0.0"
  }
}
