Notice that this is an headless skeleton for a Holochain web-app, so:

- It won't compile until you add a DNA to it, and then add a zome to that DNA.
- There is no UI implemented, you are expected to add it yourself

Set up your development environment with:

  cd {{kebab_case app_name}}
  nix develop

To continue scaffolding your application, add new DNAs to your app with:

  hc scaffold dna
